.arrow-icon {
  position: relative;
  width: 20px;
  height: 5px;
  transform-origin: center; 
}
  
.arrow-icon-north {
  position: relative;
  width: 20px;
  height: 5px;
  transform-origin: center; 
}