/* .arrow-icon {
  position: relative;
  width: 20px;
  height: 5px;
  transform-origin: center; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
  
.arrow-icon-north {
  position: relative;
  width: 20px;
  height: 5px;
  transform-origin: center; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
} */