/* Map.css */
.white-circle-icon {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter:  hue-rotate(180deg) brightness(70%) contrast(90%);
}



.leaflet-tile {
  filter: brightness(80%);
}




.custom-tooltip  {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 0px;
  font-weight: bold;
}
